p
= link_to 'Create an Account', new_merit_path
p
= link_to 'List Balances', balances_merits_path
p
= link_to 'Record Time Consume', new_time_consumption_path
p
= link_to 'Record Time Gain', new_time_gain_path